.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:720px;
  min-width:200px;
  max-width:1280px;
  margin:auto;
  background-color:rgba(255, 255, 255, 1);
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.Image-13{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:1px;
  width:1279px;
  min-width:1279px;
  height:720px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:720px;
  content:url(assets/images/Image_13.png);
}
.Image-13-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.C-{
  position:relative;
  z-index:44;
  pointer-events:none;
  margin-left:603px;
  width:75px;
  min-width:75px;
  margin-top:-705px;
  margin-bottom:635px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(88, 39, 11, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.C--outer{
  pointer-events:none;
  z-index:44;
  position:relative;
  display:flex;
}
.TextArea{
  position:relative;
  z-index:43;
  pointer-events:none;
  margin-left:576px;
  width:130px;
  min-width:130px;
  height:69px;
  margin-top:-705px;
  margin-bottom:636px;
  min-height:69px;
  background-color:rgba(246, 221, 210, 1);
  border-radius:30px;
}
.TextArea-outer{
  pointer-events:none;
  z-index:43;
  position:relative;
  display:flex;
}
.PlayPiano{
  position:relative;
  z-index:45;
  pointer-events:none;
  margin-left:48px;
  width:224px;
  min-width:224px;
  margin-top:-701px;
  margin-bottom:640px;
  min-height:61px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Patua One;
  font-weight:400;
  font-size:50px;
  line-height:61px;
}
.PlayPiano-outer{
  pointer-events:none;
  z-index:45;
  position:relative;
  display:flex;
}
.Made-by-Anurag{
  position:relative;
  z-index:46;
  pointer-events:none;
  margin-left:1025px;
  width:218px;
  min-width:218px;
  margin-top:-681px;
  margin-bottom:644px;
  min-height:37px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Patua One;
  font-weight:400;
  font-size:30px;
  line-height:36px;
}
.Made-by-Anurag-outer{
  pointer-events:none;
  z-index:46;
  position:relative;
  display:flex;
}
.Button{
  position:relative;
  z-index:40;
  pointer-events:none;
  margin-left:1114px;
  width:165.47px;
  min-width:165.47px;
  height:625px;
  margin-top:-625px;
  margin-bottom:0px;
  min-height:625px;
}
.Button-outer{
  pointer-events:none;
  z-index:40;
  position:relative;
  display:flex;
}
.Image{
  position:relative;
  z-index:41;
  pointer-events:none;
  margin-left:0px;
  width:165.47px;
  min-width:165.47px;
  height:625px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:625px;
  content:url(assets/images/Image.png);
}
.Image-outer{
  pointer-events:none;
  z-index:41;
  position:relative;
  display:flex;
}
.C{
  position:relative;
  z-index:42;
  pointer-events:none;
  margin-left:63px;
  width:40px;
  min-width:40px;
  margin-top:-118px;
  margin-bottom:48px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.C-outer{
  pointer-events:none;
  z-index:42;
  position:relative;
  display:flex;
}
.Button-1{
  position:relative;
  z-index:37;
  pointer-events:none;
  margin-left:477px;
  width:165.32px;
  min-width:165.32px;
  height:625px;
  margin-top:-625px;
  margin-bottom:0px;
  min-height:625px;
}
.Button-1-outer{
  pointer-events:none;
  z-index:37;
  position:relative;
  display:flex;
}
.Image-1{
  position:relative;
  z-index:38;
  pointer-events:none;
  margin-left:0px;
  width:165.32px;
  min-width:165.32px;
  height:625px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:625px;
  content:url(assets/images/Image_1.png);
}
.Image-1-outer{
  pointer-events:none;
  z-index:38;
  position:relative;
  display:flex;
}
.F{
  position:relative;
  z-index:39;
  pointer-events:none;
  margin-left:66px;
  width:33px;
  min-width:33px;
  margin-top:-118px;
  margin-bottom:48px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.F-outer{
  pointer-events:none;
  z-index:39;
  position:relative;
  display:flex;
}
.Button-2{
  position:relative;
  z-index:34;
  pointer-events:none;
  margin-left:954px;
  width:165.47px;
  min-width:165.47px;
  height:625px;
  margin-top:-625px;
  margin-bottom:0px;
  min-height:625px;
}
.Button-2-outer{
  pointer-events:none;
  z-index:34;
  position:relative;
  display:flex;
}
.Image-2{
  position:relative;
  z-index:35;
  pointer-events:none;
  margin-left:0px;
  width:165.47px;
  min-width:165.47px;
  height:625px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:625px;
  content:url(assets/images/Image_2.png);
}
.Image-2-outer{
  pointer-events:none;
  z-index:35;
  position:relative;
  display:flex;
}
.B{
  position:relative;
  z-index:36;
  pointer-events:none;
  margin-left:62px;
  width:39px;
  min-width:39px;
  margin-top:-118px;
  margin-bottom:48px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.B-outer{
  pointer-events:none;
  z-index:36;
  position:relative;
  display:flex;
}
.Button-3{
  position:relative;
  z-index:31;
  pointer-events:none;
  margin-left:318px;
  width:165.47px;
  min-width:165.47px;
  height:625px;
  margin-top:-625px;
  margin-bottom:0px;
  min-height:625px;
}
.Button-3-outer{
  pointer-events:none;
  z-index:31;
  position:relative;
  display:flex;
}
.Image-3{
  position:relative;
  z-index:32;
  pointer-events:none;
  margin-left:0px;
  width:165.47px;
  min-width:165.47px;
  height:625px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:625px;
  content:url(assets/images/Image_3.png);
}
.Image-3-outer{
  pointer-events:none;
  z-index:32;
  position:relative;
  display:flex;
}
.E{
  position:relative;
  z-index:33;
  pointer-events:none;
  margin-left:63px;
  width:34px;
  min-width:34px;
  margin-top:-118px;
  margin-bottom:48px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.E-outer{
  pointer-events:none;
  z-index:33;
  position:relative;
  display:flex;
}
.Button-4{
  position:relative;
  z-index:28;
  pointer-events:none;
  margin-left:635px;
  width:165.47px;
  min-width:165.47px;
  height:625px;
  margin-top:-625px;
  margin-bottom:0px;
  min-height:625px;
}
.Button-4-outer{
  pointer-events:none;
  z-index:28;
  position:relative;
  display:flex;
}
.Image-4{
  position:relative;
  z-index:29;
  pointer-events:none;
  margin-left:0px;
  width:165.47px;
  min-width:165.47px;
  height:625px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:625px;
  content:url(assets/images/Image_4.png);
}
.Image-4-outer{
  pointer-events:none;
  z-index:29;
  position:relative;
  display:flex;
}
.G{
  position:relative;
  z-index:30;
  pointer-events:none;
  margin-left:66px;
  width:41px;
  min-width:41px;
  margin-top:-118px;
  margin-bottom:48px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.G-outer{
  pointer-events:none;
  z-index:30;
  position:relative;
  display:flex;
}
.Button-5{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:795px;
  width:165.47px;
  min-width:165.47px;
  height:625px;
  margin-top:-625px;
  margin-bottom:0px;
  min-height:625px;
}
.Button-5-outer{
  pointer-events:none;
  z-index:25;
  position:relative;
  display:flex;
}
.Image-5{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:0px;
  width:165.47px;
  min-width:165.47px;
  height:625px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:625px;
  content:url(assets/images/Image_5.png);
}
.Image-5-outer{
  pointer-events:none;
  z-index:26;
  position:relative;
  display:flex;
}
.A{
  position:relative;
  z-index:27;
  pointer-events:none;
  margin-left:62px;
  width:41px;
  min-width:41px;
  margin-top:-118px;
  margin-bottom:48px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.A-outer{
  pointer-events:none;
  z-index:27;
  position:relative;
  display:flex;
}
.Button-6{
  position:relative;
  z-index:22;
  pointer-events:none;
  margin-left:160px;
  width:165.47px;
  min-width:165.47px;
  height:625px;
  margin-top:-625px;
  margin-bottom:0px;
  min-height:625px;
}
.Button-6-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.Image-6{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:0px;
  width:165.47px;
  min-width:165.47px;
  height:625px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:625px;
  content:url(assets/images/Image_6.png);
}
.Image-6-outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.D{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:63px;
  width:40px;
  min-width:40px;
  margin-top:-118px;
  margin-bottom:48px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.D-outer{
  pointer-events:none;
  z-index:24;
  position:relative;
  display:flex;
}
.Button-7{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:899px;
  width:126px;
  min-width:126px;
  height:449px;
  margin-top:-625px;
  margin-bottom:176px;
  min-height:449px;
}
.Button-7-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.Image-7{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:0px;
  width:126px;
  min-width:126px;
  height:449px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:449px;
  content:url(assets/images/Image_7.png);
}
.Image-7-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.A-{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:22px;
  width:77px;
  min-width:77px;
  margin-top:-115px;
  margin-bottom:45px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.A--outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.Button-8{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:739px;
  width:126px;
  min-width:126px;
  height:449px;
  margin-top:-625px;
  margin-bottom:176px;
  min-height:449px;
}
.Button-8-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Image-8{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:0px;
  width:126px;
  min-width:126px;
  height:449px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:449px;
  content:url(assets/images/Image_8.png);
}
.Image-8-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.G-{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:21px;
  width:77px;
  min-width:77px;
  margin-top:-115px;
  margin-bottom:45px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.G--outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.Button-9{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:579px;
  width:126px;
  min-width:126px;
  height:449px;
  margin-top:-625px;
  margin-bottom:176px;
  min-height:449px;
}
.Button-9-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.Image-9{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:0px;
  width:126px;
  min-width:126px;
  height:449px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:449px;
  content:url(assets/images/Image_9.png);
}
.Image-9-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.F-{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:28px;
  width:69px;
  min-width:69px;
  margin-top:-115px;
  margin-bottom:45px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.F--outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.Button-10{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:262px;
  width:126px;
  min-width:126px;
  height:449px;
  margin-top:-625px;
  margin-bottom:176px;
  min-height:449px;
}
.Button-10-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.Image-10{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:0px;
  width:126px;
  min-width:126px;
  height:449px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:449px;
  content:url(assets/images/Image_10.png);
}
.Image-10-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.D-{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:25px;
  width:75px;
  min-width:75px;
  margin-top:-115px;
  margin-bottom:45px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.D--outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.Button-11{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:102px;
  width:126px;
  min-width:126px;
  height:449px;
  margin-top:-625px;
  margin-bottom:176px;
  min-height:449px;
}
.Button-11-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.Image-11{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:0px;
  width:126px;
  min-width:126px;
  height:449px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:449px;
  content:url(assets/images/Image_11.png);
}
.Image-11-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.C--1{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:26px;
  width:75px;
  min-width:75px;
  margin-top:-115px;
  margin-bottom:45px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.C--1-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.Button-12{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:1px;
  width:165px;
  min-width:165px;
  height:625px;
  margin-top:-625px;
  margin-bottom:0px;
  min-height:625px;
}
.Button-12-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.Image-12{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:0px;
  width:165px;
  min-width:165px;
  height:625px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:625px;
  content:url(assets/images/Image_12.png);
}
.Image-12-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.C-1{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:63px;
  width:40px;
  min-width:40px;
  margin-top:-118px;
  margin-bottom:48px;
  min-height:70px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:60px;
  line-height:71px;
}
.C-1-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
